<div class='row' data-ng-init="getNotes()">
  <h2>{{ currentNotebook }}</h2>
  <div class='hoverable' ng-repeat="note in allNotes | filter: search | orderBy: '-createdAt'">
    <div>
      <h3 class='truncate' ng-click='showDetails = ! showDetails'>{{ note.title }}</h3>
      <div class='container' ng-show='showDetails'>
        <p class='left-align'>{{ note.text }}</p>
        <p>{{ note.createdAt }}</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <form ng-submit='goToNewNote()'>
      <div class='row'>
        <div class="input-field col s12">
          <button class='btn-large waves-effect waves-light teal col s12' type='submit'>Add New Note</button>
        </div>
      </div>
    </form>
  </div>
</div>