<div>
  <h2>{{ currentNotebook }}</h2>
  <div class="row">
    <form name='note-form'  ng-submit='saveNote()'>
      <div class='row'>
        <div class="input-field col s12">
          <input type='text' placeholder='new note title' ng-model='note.title'>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea placeholder='new note' class="materialize-textarea" style="min-height:25vh;" ng-model='note.text'></textarea>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button class='btn-large waves-effect waves-light teal col s12' type='submit'>Save</button>
        </div>
      </div>
    </form>
  </div>
</div>